.styled-table {
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    border-spacing:20px;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #1ee0da;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #86cccf;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}
input[type=submit] {
    padding:5px 15px; 
    background:rgb(255, 255, 255); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#btn:hover {
        background-color: rgb(175, 227, 243)
      }
